.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.column {
  float: center;
  width: 50%;
  padding: 30px, 30px;
  margin: auto;
  font-size: 1.2em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .column2img {
    width: 100%;
  }

  .column2 {
    width: 100%;
  }
}

.column2 {
  margin: auto;
  float: left;
  width: 66%;
  padding: 30px;
  font-size: 1.2em;
}

.column2img {
  margin: auto;
  float: center;
  width: 33%;
  padding: 30px;
}

hr.rounded {
  border-top: 3px solid rgb(255, 255, 255);
  border-radius: 1px;
}