.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.columns {
  column-count: 3;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: white;
}